<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-my-plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>MyPlugin</name>

    <description>Test Plugin</description>
    <license>Apache 2.0</license>
    <keywords>android, test</keywords>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module name="MyPlugin" src="www/MyPlugin.js">
        <clobbers target="cordova.plugins.MyPlugin" />
    </js-module>

    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="MyPlugin">
                <param name="android-package" value="com.mgm.MyPlugin" />
            </feature>
        </config-file>



                <!--This will be the activity, if you want another name change in both of the tags (action and activity) -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.mgm.NewActivity"
                android:label="New Activity">
                <intent-filter>
                <!-- We are going to use this name to start the activity later in Java -->
                <action android:name="com.mgm.NewActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </activity>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MyPlugin.java" target-dir="src/com/mgm" />
        <source-file src="src/android/NewActivity.java" target-dir="src/com/mgm" />
        <source-file src="src/android/activity_new.xml" target-dir="res/layout"/>
    
        <lib-file src="src/android/lib/ftsafe_0.7.04.jar" />
    </platform>
    

</plugin>